<p>githome works!</p>

<button (click)="onBtn()">Hey...</button>

<!-- <p>{{user.login}} - {{user.id}} - {{user.avatar_url}}</p> -->

<!-- BOOTSTRAP VESION BELOW -->
<!-- <div *ngIf="gitUsers">

    <div class="row card-group">

        <div *ngFor="let user of gitUsers">
            
            <app-gitcard class="col card my-4" style="width: 150px;" [id]="user.id" [username]="user.login" [url]="user.avatar_url"></app-gitcard>
        </div>
    </div>
</div> -->

<!-- ANGULAR MATERIAL VERSION BELOW -->
<div *ngIf="gitUsers">

    <mat-grid-list cols="3"  >

        
            <mat-grid-tile *ngFor="let user of gitUsers">
                <mat-card>
                    <app-gitcard class="" [id]="user.id" [username]="user.login" [url]="user.avatar_url"></app-gitcard>
                </mat-card>
            </mat-grid-tile>
        
    </mat-grid-list>
</div>
