<p>passhome works!</p>

<h3>Password Generator</h3>

<div class="">
    <label for="length">Password Character Length</label>
    <input type="number" (input)="inputLength($event.target.value)">
</div>

<div class="">
    <label for="case">Use Letters</label>
    <input type="checkbox" (change)="doLetters()">
</div>

<div class="">
    <label for="num">Use Numbers</label>
    <input type="checkbox" (change)="doNum()">
</div>

<div class="">
    <label for="sym">Use Symbols</label>
    <input type="checkbox" (change)="doSym()">
</div>

<div><button class="btn btn-primary" (click)="generate()">Generate Password</button></div>

<div class="">
    <label for="pass">Here is your password</label>
    <input type="text" [value]="password">
</div>
