<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <!-- <div class="navbar-nav">
      <a routerLinkActive routerLink="carLot/" class="nav-item nav-link ">Car Lot</a>
      <a routerLinkActive routerLink="lobby" class="nav-item nav-link">Lobby</a>
    </div> -->
    <ul class="navbar-nav">
      <li class="nav-item ">
        <a class="nav-link" routerLinkActive="active" routerLink="carLot/">Car Lot</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLinkActive="active" routerLink="lobby">Lobby</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLinkActive="active" routerLink="garage">Garage</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLinkActive="active" routerLink="users">Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLinkActive="active" routerLink="users2">Users2</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="onLogout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>


<nav class="my-5">
  
  
</nav>



<div class="container">
  <h1>hello</h1>
  
  <router-outlet></router-outlet>
  <app-message-iterate></app-message-iterate>
</div>